<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString"
      connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|portal.mdf;User Instance=true"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>