<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- you might need a relative path like /virtdir/PortalCfg.xml-->
    <add key="commandFile" value="KpwCommands.xml"/>
    <add key="videoSource" value=""/>
    <add key="telescopeEngineIP" value="159.226.75.28"/>
    <add key="telescopeEnginPort" value="8280"/>
  </appSettings>
</configuration>